{{ if eq .chezmoi.arch "arm64" }}

# echo "Architecture: arm64"
HOMEBREW_DIR="/opt/homebrew"
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_AUTO_UPDATE_SECS=864000

{{ else if eq .chezmoi.arch "amd64" }}

# echo "Architecture: x86_64"
HOMEBREW_DIR="/usr/local"

{{ end }}
