{{ if eq .chezmoi.os "darwin" }}
# macOS specific settings
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

# Use GNU commands instead of BSD commands
if [ -d "/opt/homebrew/opt/coreutils/libexec/gnubin" ]; then
    PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
fi

# macOS specific aliases
alias finder='open -a Finder ./'

{{ else if eq .chezmoi.os "linux" }}
# Linux specific settings
export LS_COLORS='di=34:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43'
# Linux specific aliases
alias open='xdg-open'

{{ else if eq .chezmoi.os "windows" }}

# Windows specific settings
export MSYS=winsymlinks:nativestrict

# Windows specific aliases
alias start='cmd.exe /c start'

{{ end }}
