<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>遼平</string>
		<key>shortcut</key>
		<string>りょうへい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>郁佳</string>
		<key>shortcut</key>
		<string>あやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伏見</string>
		<key>shortcut</key>
		<string>ふしみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>150-0002</string>
		<key>shortcut</key>
		<string>ぐぐゆうびん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>東京都渋谷区渋谷３丁目２１番３号渋谷ストリーム</string>
		<key>shortcut</key>
		<string>ぐぐじゅうしょ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>03-6384-9000</string>
		<key>shortcut</key>
		<string>ぐぐでんわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>09075453030</string>
		<key>shortcut</key>
		<string>でんわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>5167799533</string>
		<key>shortcut</key>
		<string>でんわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>9296335643</string>
		<key>shortcut</key>
		<string>でんわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fushimi.ryohei@gmail.com</string>
		<key>shortcut</key>
		<string>めーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>243.3ta96us@gmail.com</string>
		<key>shortcut</key>
		<string>めーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>TT2563062</string>
		<key>shortcut</key>
		<string>ぱすぽーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>206507896</string>
		<key>shortcut</key>
		<string>じゃる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>研エンの仲</string>
		<key>shortcut</key>
		<string>けんえんのなか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>研エン</string>
		<key>shortcut</key>
		<string>けんえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>71 East 97th St</string>
		<key>shortcut</key>
		<string>じゅうしょ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>164376011</string>
		<key>shortcut</key>
		<string>KTN</string>
	</dict>
</array>
</plist>
